# Este archivo lo que hace es que cuando un usuario solicita un archivo que no existe en la 
# aplicación, entonces dicha solicitud será redirigida al index
RewriteEngine On

# estas líneas son colocadas para que no sea necesario poner la extensión .php al acceder a una página
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*)$ $1.php

# estas líneas son colocadas para que no sea necesario poner la extensión .html al acceder a una página
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^(.*)$ $1.html

# Si la ruta no es un archivo existente, ni una carpeta
# Reescribir al index
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.+?)/?$ index.php?url=$1 [L,QSA]